.login-container {
    display: flex;
    flex-direction: row;
    padding-left: 15%;
    padding-top: 4%;
    background-color: aliceblue;
}

.form-container {
    width: 30%;
    padding: 1rem;
    border-radius: 0.75rem;
    height: 700px;
    margin-top: 250px;
}

.p-input-icon-left{
    width: 100%;
    margin-bottom: 0.25rem;
}

.input-field-txt{
    width: 100%;
}

.login_img {
    height: 700px;
    width: auto;
}